<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body { font-family: system-ui, sans-serif; margin: 24px; }
    input { padding: 8px; font-size: 14px; }
    button { padding: 8px 12px; font-size: 14px; cursor: pointer; }
    table { border-collapse: collapse; width: 100%; margin-top: 18px; }
    th, td { border: 1px solid #ddd; padding: 8px; }
    th { background: #f6f6f6; text-align: left; }
    .flash { background: #fff7d6; border: 1px solid #f0d36b; padding: 10px; margin: 12px 0; }

  </style>
</head>

<body>

  <h1>パスワード再発行</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for m in messages %}
        <div class="flash">{{ m }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div>
      <form method="post" action="/update_password">

        <div>
          <label>現在のパスワード</label>
          <label><input name="pass0" type="password"></label>
        </div>

        <div>
          <label>新しいパスワード</label>
          <label><input name="pass1" type="password"></label>
        </div>

        <div>
          <label>新しいパスワード(確認用)</label>
          <label><input name="pass2" type="password"></label>
        </div>

        <div>
          <button type="submit" >再作成</button>
        </div>

      </form>
  </div>


</body>
</html>